{% extends 'base.html' %}

{% block contents %}
    <div class="container">
        <div class="jumbotron " style="margin-top:50px;">
                <div class="content-header bg-success text-center page-header">
                    <h3>{{ object.title | capfirst }}</h3>
                </div>
                <hr>
                <div class="content" style="width:100%; overflow:hidden;">
                    {{ object.content | safe }}
                </div>
                <hr>
        <div class="row">
            <div class="bg-success">
                <p class="col-md-4 text-left text"><u>created on</u> - <small>{{ object.created_on }}</small></p>
                <p class="col-md-4 text-center "><u>Rating</u> - {{ rating.rating__avg }}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form class="form-horizontal col-md-6">
                <input type="radio" name="rating" value="1" class="col-md-1 checkbox"/><span class="col-md-1">1</span>
                <input type="radio" name="rating" value="2" class="col-md-1 checkbox"/><span class="col-md-1">2</span>
                <input type="radio" name="rating" value="3" class="col-md-1 checkbox"/><span class="col-md-1">3</span>
                <input type="radio" name="rating" value="4" class="col-md-1 checkbox"/><span class="col-md-1">4</span>
                <input type="radio" name="rating" value="5" class="col-md-1 checkbox"/><span class="col-md-1">5</span>
                <input type="button" id="submitButton" value="rate now" />
            </form>
        </div>
        <p id="result" > </p>
    </div>
{% endblock contents %}

{% block customScript %}

    $('#submitButton').click(function() {
        var radioVal = $('input[type=radio]:checked').val();
        var url = '/blog/' + {{ object.id }} + '/rate_blog/' ;
        $.ajax({
            url : url,
            data : {
                'rating' : radioVal,
            },
            dataType : 'text',
            success : function(data) {
                alert(data);
                $('#result').text(data);
                console.log('what the hell is this');
            }
        });
    });

{% endblock customScript%}