{% extends 'base.html' %}

{% block contents %}
    <div class="container">
        {% for obj in object_list %}
            <div class="jumbotron " style="margin-top:50px;">
                <div class="content-header bg-success text-center page-header">
                    <h3>{{ obj.title | capfirst }}</h3>
                </div>
                <hr>
                <div class="content" style="width:100%; overflow:hidden;">
                    {{ obj.content | safe }}

                </div>
                <hr>
                <div class="content-footer">
                    <div class="row">
                        <div class="text-left col-md-8">
                                <p class="text-info">rating - {{ obj.rating }}</p>
                        </div>
                        <div class="text-right col-md-4">
                                <a class="text-info" href="{% url 'single_blog' obj.id %}">read complete blog</a>
                        </div>
                    </div>
                    <div class="bg-success">
                        <i>written by - {{ obj.author.username }}</i>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>
{% endblock contents %}

{% block customScript %}
    $('.grid').masonry({
        itemSelector: '.grid-item',
        columnWidth : 300
    });

{% endblock customScript %}