{% extends 'base.html' %}

{% block contents %}
    <div class="container">
    <div class="row">
        <div class="page-header bg-info">
            <h2 class="text-center text-capitalize">{{object.title}}</h2>
        </div>
        </div>
        <div class="row">
        <div class="row page-body col-md-offset-1 col-md-10">
                <pre class="text-justify breadcrumb">
                    {{ object.content }}
                </pre>
        </div>
            </div>
        <div class="row">
            <div class="row page-footer bg-info">
                <p class="text-left "><u>created on</u> - {{ object.created_on }}</p>
                <p class="text-center "><u>Rating</u> - {{ rating.rating__avg }}</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form class="form-horizontal">
                <input type="radio" name="rating" value="1" />1
                <input type="radio" name="rating" value="2" />2
                <input type="radio" name="rating" value="3" />3
                <input type="radio" name="rating" value="4" />4
                <input type="radio" name="rating" value="5" />5
                <input type="button" id="submitButton" value="rate now" />
            </form>
        </div>
        <p id="result" > </p>
    </div>
{% endblock contents %}

{% block customScript %}

    $('#submitButton').click(function() {
        var radioVal = $('input[type=radio]:checked').val();
        var url = '/blog/' + {{ object.id }} + '/rate_blog/' ;
        $.ajax({
            url : url,
            data : {
                'rating' : radioVal,
            },
            dataType : 'text',
            success : function(data) {
                alert(data);
                $('#result').text(data);
                console.log('what the hell is this');
            }
        });
    });

{% endblock customScript%}